.editor__wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: black;
}

.editor {
  font-family: 'Consolas', monospace;
  font-size: 14px;
  width: 100%;
  flex-grow: 1;  
   border-radius: 8px; 
  margin-bottom: 20px;
  padding: 8px;
  box-shadow: 3px 3px lightgrey;
  line-height: 1.5;
/*  outline: none;
  appearance: none;
  background: none;
  resize: none; */
}