.titleBar__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 1px solid black;
 /* box-shadow: 3px 3px lightgrey;*/
  background-color: white;
}