/* Fonts */

/* Colors */
:root {
  --dark: #22303C;
  --darker: #192734;
  --darkest: #15202B;
  --contrast: #8899AC;
}

/* General Styles */
body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  color: black;
  background-color: #F1FADA;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* Typography */

/* h1, h2, h3, h4, h5, h6 {
  margin: 0px;

}

h1 {
  font-size: 2.5em;
  line-height: 1.55;
  font-weight: 400;
}

h2 {
  font-size: 2em;
  line-height: 1.58;
  font-weight: 400;
}

h3 {
  font-size: 1.5em;
  line-height: 1.62;
  font-weight: 400;
}

h4 {
  font-size: 1.25em;
  line-height: 1.65;
  font-weight: 400;
}

h5 {
  font-size: 1em;
  line-height: 1.65;
  font-weight: 400;
}

h6 {
  font-size: 0.75em;
  line-height: 1.77;
  font-weight: 400;
} */

/* Anchors */
a {
  color: blue;
}

/* Buttons */
 button {
  --button-bg: white;
  --border-bg: white;
  --text-color: black;
  display: inline-block;
  width: fit-content;
  border: none;
  outline: none;
  background-color: var(--button-bg);
  color: var(--text-color);
  /* border: 1px solid black; */
  transition: .2s opacity;
  padding: 0.5em 1.5em;
  cursor: pointer;
  border-radius: 0.8125rem;
  font-weight: 700;
  box-shadow: 2px 2px lightgrey;
}

button:hover {
  background-color: #2D9596;
  transition: background-color 125ms;
}

/* button:hover {
  opacity: 0.9;
} */

/* Horizontal Line */

/* Utilities */
.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

